DataProjects/credit_card.csv
DataProjects/CreditCard.png
DataProjects/creditCardStats.txt
DataProjects/diabetes.csv
DataProjects/image.png
AutomateBoring/makingEXE.py
AutomateBoring/add.cpp
AutomateBoring/usingDLLs.py
DataProjects/matplotlibrc
readGmailPython/credentials.json
readGmailPython/token.pickle
AutomateBoring/myProgramLog.txt
__pycache__/standard.cpython-37.pyc
ch18log.txt
__pycache__/fmrstd.cpython-37.pyc
geckodriver.log
